body{
    background-color: bisque;
}

.spinner{
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: purple;
    background: url(../img/hi.jpg);
    height: 500px;
    width: 500px;
    border-radius: 50%;
    border: 25px solid white;
    border-top: 25px solid red;
    border-right: 25px solid red;
    border-left: 25px solid blue ;
    border-bottom: 25px solid blue;
    box-shadow: 20px 20px 150px 20px;
    animation: ani 4.5s linear infinite;
   
}
@keyframes ani{
      to{
        /* transform: rotate(360deg); */
        transform:rotate(360deg)
      }
}

